*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#081225;
  color:white;
}

.navbar{
  padding:20px 40px;
  border-bottom:1px solid rgba(255,255,255,0.08);
}

.logo{
  font-size:2rem;
  font-weight:bold;
  color:#60a5fa;
}

.hero{
  text-align:center;
  padding:70px 20px 30px;
}

.hero h1{
  font-size:4rem;
  margin-bottom:20px;
}

.hero p{
  color:#cbd5e1;
}

.search-section{
  width:90%;
  max-width:900px;
  margin:auto;
}

.search-box{
  display:flex;
  gap:10px;
}

.search-box input{
  flex:1;
  padding:18px;
  border:none;
  border-radius:12px;
  outline:none;
  font-size:1rem;
}

.search-box button{
  padding:18px 25px;
  border:none;
  border-radius:12px;
  background:#2563eb;
  color:white;
  cursor:pointer;
}

.loaded{
  margin-top:15px;
  color:#94a3b8;
}

.features{
  width:90%;
  max-width:1100px;
  margin:50px auto;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.feature-card{
  background:#111c33;
  padding:25px;
  border-radius:16px;
  font-weight:bold;
}

.feature-card span{
  display:block;
  margin-top:12px;
  color:#94a3b8;
  font-weight:normal;
}

.saved-section{
  width:90%;
  max-width:1100px;
  margin:50px auto;
}

.saved-section h2{
  margin-bottom:20px;
  color:#60a5fa;
}

#savedAirports{
  display:flex;
  flex-wrap:wrap;
  gap:15px;
}

.saved-item{
  background:#1d4ed8;
  padding:10px 16px;
  border-radius:10px;
}

#results{
  width:90%;
  max-width:1100px;
  margin:50px auto;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
  gap:25px;
}

.card{
  background:#111c33;
  border-radius:18px;
  overflow:hidden;
}

.card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.card-content{
  padding:20px;
}

.airport-name{
  font-size:1.3rem;
  font-weight:bold;
  margin-bottom:10px;
}

.airport-info{
  color:#cbd5e1;
  line-height:1.8;
}

.code{
  display:inline-block;
  margin-top:10px;
  background:#2563eb;
  padding:5px 12px;
  border-radius:8px;
}

.actions{
  display:flex;
  gap:10px;
  margin-top:20px;
}

.actions button{
  flex:1;
  padding:12px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  font-weight:bold;
}

.save-btn{
  background:#2563eb;
  color:white;
}

.map-btn{
  background:#0f172a;
  color:white;
  border:1px solid rgba(255,255,255,0.1);
}

footer{
  margin-top:80px;
  padding:50px 20px;
  background:#050b18;
}

.footer-grid{
  width:90%;
  max-width:1100px;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:30px;
}

.footer-grid h3{
  margin-bottom:15px;
}

.footer-grid a,
.footer-grid p{
  display:block;
  color:#94a3b8;
  margin-bottom:10px;
  text-decoration:none;
}
